@media only screen and (max-width: 500px) {
    .tooltip::before {
        content: "■";
        position: absolute;
        color: #000000;
        transform: rotate(45deg);
        font-size: 1.5rem;
        top: -20px;
        right: 44%;
        z-index: 100;
    }

  }
@media only screen and (min-width: 501px) and (max-width: 769px) {
    .tooltip::before {
        content: "■";
        position: absolute;
        color: #000000;
        transform: rotate(45deg);
        font-size: 1.5rem;
        top: -20px;
        right: 47%;
        z-index: 100;
    }
    .bgLightGreen::before{
        color: #DCDFDC
    }
    .bgRed::before{
        color: #eb4511
    }
    
    .bgWeiss::before{
        color: #fff
    }
  }